Web References/Ptt/Sorgu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://takip.ptt.gov.tr/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://takip.ptt.gov.tr" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://takip.ptt.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://takip.ptt.gov.tr/xsd">
      <xs:complexType name="Input">
        <xs:sequence>
          <xs:element minOccurs="0" name="barkod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="kullanici" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sifre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputTum">
        <xs:sequence>
          <xs:element minOccurs="0" name="ALICI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BARNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEGKONUCR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EKHIZ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GONDEREN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GONUCR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IMERK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ITARIH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ODSARUCR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TESALAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VMERK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dongu" nillable="true" type="ax21:OutputDongu" />
          <xs:element minOccurs="0" name="sonucAciklama" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sonucKodu" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputDongu">
        <xs:sequence>
          <xs:element minOccurs="0" name="IMERK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISLEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ITARIH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="siraNo" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://takip.ptt.gov.tr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://takip.ptt.gov.tr">
      <xs:import namespace="http://takip.ptt.gov.tr/xsd" />
      <xs:element name="gonderiSorgu">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="input" nillable="true" type="ax22:Input" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="gonderiSorguResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:OutputTum" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="gonderiSorguRequest">
    <wsdl:part name="parameters" element="ns:gonderiSorgu" />
  </wsdl:message>
  <wsdl:message name="gonderiSorguResponse">
    <wsdl:part name="parameters" element="ns:gonderiSorguResponse" />
  </wsdl:message>
  <wsdl:portType name="SorguPortType">
    <wsdl:operation name="gonderiSorgu">
      <wsdl:input wsaw:Action="urn:gonderiSorgu" message="ns:gonderiSorguRequest" />
      <wsdl:output wsaw:Action="urn:gonderiSorguResponse" message="ns:gonderiSorguResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SorguSoap11Binding" type="ns:SorguPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="gonderiSorgu">
      <soap:operation soapAction="urn:gonderiSorgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SorguSoap12Binding" type="ns:SorguPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="gonderiSorgu">
      <soap12:operation soapAction="urn:gonderiSorgu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SorguHttpBinding" type="ns:SorguPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="gonderiSorgu">
      <http:operation location="gonderiSorgu" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sorgu">
    <wsdl:port name="SorguHttpSoap11Endpoint" binding="ns:SorguSoap11Binding">
      <soap:address location="http://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu.SorguHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SorguHttpSoap12Endpoint" binding="ns:SorguSoap12Binding">
      <soap12:address location="http://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu.SorguHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SorguHttpEndpoint" binding="ns:SorguHttpBinding">
      <http:address location="http://pttws.ptt.gov.tr/GonderiTakipV2/services/Sorgu.SorguHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>